<app-header></app-header>

<div class="container text-center my-5">
    <!-- Hero Section -->
    <section class="hero-section">
        <h2>Welcome to OPENFOR.WORK</h2>
        <p>Your Professional Portfolio, Your Unique Story!</p>
    </section>

    <!-- Call-to-Action Section -->
    <section class="cta-section my-5">
        <a class="btn btn-secondary" [routerLink]="['/login']">
            <h4>Are you openfor.work ?</h4>
        </a>
        <p class="my-5">Start creating your portfolio by clicking on the above <b>Are you openfor.work</b> button.</p>
    </section>
</div>
<br><br>
<router-outlet></router-outlet>